body{
    background-color: lightblue;
}

header{
    background-color: lightgreen;
}

section{
    background-color: lightcoral;
}

footer {
    background-color: darkgray;
}

nav{
    background-color: yellow;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
    /*peut être mettre un margin 0 si d'autres décalages apparaissent*/
}

nav > ul{
    display: flex;
    gap: 40px;
}

nav ul > li > ul {
    display: none;
}

nav ul > li:hover > ul{
    display: flex;
    flex-direction: column;
}

.cards{
    display: flex;
    gap: 100px;
}

.cards li{
    padding: 2px;
    border-radius: 10px;
    background-color: lightseagreen;
}